* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #fafafa;
  --darkgray: #ddd;
  --bgdark: #858591;
}

.bg-dark {
  background-color: var(--bgdark);
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.container {
  width: 300px;
}

.p-1 {
  padding: 1rem;
}

.btn {
  width: 75px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  border: 1px ridge var(--darkgray);
  background-color: var(--gray);
}