* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --gray: #fafafa;
  --darkgray: #ddd;
  --bgdark: #858693;
  --orange: #f39148;
}

.bg-dark {
  color: var(--white);
  background-color: var(--bgdark);
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-content: center;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.container {
  width: 400px;
  margin-top: 10%;
}

.p-1 {
  padding: 1rem;
}

.btn {
  width: 100px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  border: 1px ridge var(--darkgray);
  background-color: var(--gray);
}

.calculator-btns button:nth-of-type(4n),
.calculator-btns button:last-child {
  border-left: none;
  background-color: var(--orange);
}

.calculator-btns button:nth-child(17) {
  flex-grow: 2;
}
