@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

ol,
ul {
  list-style-type: none;
}

:root {
  --dodgerblue: dodgerblue;
  --white: #fff;
  --gray: #fafafa;
  --darkgray: #ddd;
  --bgdark: #858693;
  --orange: #f39148;
}

p {
  text-align: justify;
}

.title {
  font: bold 25px 'Architects Daughter', cursive;
}

nav {
  width: 100%;
  padding: 10px 2em;
  font-weight: bold;
  border-bottom: 1px solid var(--darkgray);
  box-shadow: 5px 5px 5px var(--darkgray);
}

nav li a {
  padding: 0 20px;
  color: var(--dodgerblue);
  border-right: 2px solid var(--dodgerblue);
}

nav li:last-child a {
  border: none;
}

.bg-dark {
  color: var(--white);
  background-color: var(--bgdark);
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-content: center;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.container {
  width: 100%;
  padding: 5% 2em;
}

.p-1 {
  padding: 1rem;
}

.m-2 {
  margin-bottom: 2rem;
}

.btn {
  width: 25%;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  border: 1px ridge var(--darkgray);
  background-color: var(--gray);
}

.calculator-btns button:nth-of-type(4n),
.calculator-btns button:last-child {
  border-left: none;
  background-color: var(--orange);
}

.calculator-btns button:nth-child(17) {
  flex-grow: 2;
}

blockquote {
  line-height: 1.5em;
  font-size: 20px;
  background-color: var(--darkgray);
  border-left: 5px solid var(--orange);
}
